bin/*
bin/Debug/*
bin/Release/*
Properties/*~
obj/*
_ReSharper.Clish
_ReSharper.Clish/*
_UpgradeReport_Files
_UpgradeReport_Files/*
Clish.4.5.resharper.user
Clish.suo
Clish.5.0.ReSharper.user
UpgradeLog.XML
UpgradeLog*.XML
Backup
Backup/*
Backup*/*
Backup*


Clish.Tests\Clish.Tests\bin\*
Clish.Tests\Clish.Tests\bin\obj
Clish.Tests\Clish.Tests.suo
Clish.Tests\Clish.Tests.4.5.resharper.user
Clish.Tests\Clish.Tests.5.0.resharper.user
Clish.Tests\Clish.Tests\AuthoringTests.txt

Clish.Logs\bin\*
Clish.Logs\bin\obj
Clish.Logs\Clish.Logs.suo
Clish.Logs\Clish.Logs.4.5.resharper.user
Clish.Logs\Clish.Logs.5.0.resharper.user

Clish.Library\bin
Clish.Library\bin\*
Clish.Library\bin\Debug\*
Clish.Library\obj\*
Clish.Library\obj
Clish.Library\obj\Debug*
Clish.Library\obj\Debug\*
Clish.Library\Clish.Library.suo
Clish.Library\Clish.Library.4.5.resharper.user
Clish.Library\Clish.Library.5.0.resharper.user